@use "./styles/cards" as *;
@use "./styles/table";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.opponent {
    background-color: grey;
    display: flex;
    justify-content: center;
    width: 90vw;
}

.user {
    background-color: grey;
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 90vw;
}