@use "./styles/cards" as *;
@use "./styles/table";
@use "./styles/variables" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    font-weight: 200;
}

body{
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 3rem auto;
}

.opponent {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    

    &__hand {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
}

.user {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    &__hand {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.controls-container{
    border: dotted grey 4px;
    border-radius: 5px;
    display: flex;
    width: 100%;
    margin-top: 1rem;
    height: auto;
    justify-content: space-between; 
    align-items: center;
    padding: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 3rem;

    &__buttons-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1rem;

        & button {
            font-size: 1.1rem;
            background-color: transparent;
            border: solid green 2px;
            padding: 0.5rem;
            border-radius: 10px;

        }
    }
}

.rules {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    &__container {
        margin-top: 1rem;
        text-align: left;
    }
}

@media screen and (min-width: 450px ) {
    body {
        width: 45rem;
        height: auto;
    }
}