@use "./styles/cards" as *;
@use "./styles/table";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.opponent {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    

    &__hand {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
}

.user {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    &__hand {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}