@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
.cards {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}

.card {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 8rem;
  font: 1rem "Trebuchet MS";
  margin: 0.625rem;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.card:before, .card:after {
  content: attr(value);
  position: absolute;
  width: 12px;
  text-align: center;
  letter-spacing: -2px;
}
.card:before {
  top: 0.25rem;
  left: 0.25rem;
}
.card:after {
  bottom: 0.25rem;
  right: 0.25rem;
  transform: rotate(180deg);
}
.card--heart {
  color: #e44145;
}
.card--heart:before, .card--heart:after {
  content: attr(name) " ♥";
}
.card--spade {
  color: #252525;
}
.card--spade:before, .card--spade:after {
  content: attr(name) " ♠";
}
.card--diamond {
  color: #e44145;
}
.card--diamond:before, .card--diamond:after {
  content: attr(name) " ◆";
}
.card--club {
  color: #252525;
}
.card--club:before, .card--club:after {
  content: attr(name) " ♣";
}
.card--back {
  background: rgb(255, 253, 254);
  background: radial-gradient(circle, rgb(255, 253, 254) 0%, rgb(40, 151, 223) 100%);
}

.card__inner {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 1.5rem;
}
.card__inner--centered {
  justify-content: center;
}

.card__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__column--centered {
  justify-content: center;
}

.card__symbol {
  display: inline-block;
  height: 2.5rem;
  text-align: center;
}
.card__symbol:before {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.card--heart .card__symbol:before {
  content: "♥";
}
.card--spade .card__symbol:before {
  content: "♠";
}
.card--diamond .card__symbol:before {
  content: "◆";
}
.card--club .card__symbol:before {
  content: "♣";
}

.title {
  font: 18px "Trebuchet MS";
  color: #444;
  text-align: center;
}

.table {
  background-color: rgba(10, 105, 10, 0.788);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10rem;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
}

@media screen and (max-width: 450px) {
  .table {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Gothic", sans-serif;
  font-weight: 200;
}

body {
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 3rem auto;
}

.opponent {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.opponent__hand {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.user__hand {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.controls-container {
  border: dotted grey 4px;
  border-radius: 5px;
  display: flex;
  width: 100%;
  margin-top: 1rem;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 3rem;
}
.controls-container__buttons-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.controls-container__buttons-container button {
  font-size: 1.1rem;
  background-color: transparent;
  border: solid green 2px;
  padding: 0.5rem;
  border-radius: 10px;
}

.rules {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
}
.rules__container {
  margin-top: 1rem;
  text-align: left;
}

@media screen and (min-width: 450px) {
  body {
    width: 45rem;
    height: auto;
  }
}/*# sourceMappingURL=styles.css.map */